.center {
    margin:auto;
    width: 50%;
    padding: 5px;
}
table, tr, td,th{ 
    border: 1px solid royalblue;        
    padding: 10;
    justify-content: center;
    color: aliceblue;
    font-family: "Lucida Console", "Courier New", monospace;
}
h1{
    text-align: center;
    color: aliceblue;
    font-family: "Lucida Console", "Courier New", monospace;
}
p{
    color: aliceblue;
    font-family: "Lucida Console", "Courier New", monospace;
}

body{
    background-image: url(https://images.pexels.com/photos/1122639/pexels-photo-1122639.jpeg?auto=compress&cs=tinysrgb&w=600);
}